[Desktop Entry]
Name=Prisma4Postgres
GenericName=PostgreSQL Explorer
Comment=Explore and manage PostgreSQL databases with Prisma ORM integration
Exec=run.sh
Icon=br.com.w3ti.Prisma4Postgres
Terminal=false
Type=Application
Categories=Development;Database;
Keywords=postgres;postgresql;database;sql;prisma;orm;
StartupWMClass=Prisma4Postgres
